body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: tan;
}

h1 {
    font-size: 38px;
}

h2{
    font-size:  32px;  
}

.ingredients-list {
    list-style: square inside;
}

ol {
    list-style: georgian;
}

header > img {
    width: 100px;
}

ul li a {
    color: inherit;
    text-decoration-line: none;
}